/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    text-align: center;
}

.bg {
    background-image: url("background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: inline-block;
}

.bg_putih {
    background-color: white;
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.google {
    background-color: white;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    border-radius: 5px;
}

.fb {
    background-color: #3B5998;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    border-radius: 5px;
}

.inputan {
    text-align: center;
    padding-left: 43px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 43px;
    border-radius: 5px;
}

.masuk {
    text-align: center;
    padding-left: 95px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 95px;
    color: green;
    background-color: brown;
    border-radius: 5px;
}

.daftar {
    text-align: center;
    padding-left: 93px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 93px;
    color: green;
    background-color: brown;
    border-radius: 5px;
}

.teks {
    padding: 8px;
    text-align: center;
}

.aturulang {
    text-align: center;
    padding-left: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 23px;
    color: green;
    background-color: brown;
    border-radius: 5px;
}
