body, html {
    height: 100%;
    text-align: center;
}

.bg {
    background-image: url("background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: inline-block;
}

.bg_putih {
    background-color: white;
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.google {
    background-color: white;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    border-radius: 5px;
}

.fb {
    background-color: #3B5998;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    border-radius: 5px;
}

.inputan {
    text-align: center;
    padding-left: 43px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 43px;
    border-radius: 5px;
    display: flex;
}

.masuk {
    text-align: center;
    padding-left: 95px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 95px;
    color: green;
    background-color: brown;
    border-radius: 5px;
}

.daftar {
    text-align: center;
    padding-left: 93px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 93px;
    color: green;
    background-color: brown;
    border-radius: 5px;
}

.teks {
    padding: 8px;
    text-align: center;
}

.aturulang {
    text-align: center;
    padding-left: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 23px;
    color: green;
    background-color: brown;
    border-radius: 5px;
}















.gatau {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-animation: scroll-left 5s linear infinite;
    -webkit-animation: scroll-left 5s linear infinite;
    animation: scroll-left 5s linear infinite;
}

@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%);}
    100% { -moz-transform: translateX(-100%);}
}

@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%);}
    100% { -webkit-transform: translateX(-100%);}
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

}